{% extends "::base.html.twig" %}

{% block jumbotron %}
    <h1>Edit</h1>            
{% endblock %}

{% block middle %}
    {% include "FOSUserBundle:Profile:edit_content.html.twig" %}   
{% endblock %}