{% extends "::base.html.twig" %}

{% block top %}
    <h2 class="text-center">Edycja danych</h2>            
{% endblock %}

{% block middle %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% include "FOSUserBundle:Profile:edit_content.html.twig" %}   
    </div>
    <div class="col-md-2"></div>
{% endblock %}