{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <h3>{{ 'profile.show.username'|trans }}: {{ user.username }}</h3>
    <h3>{{ 'profile.show.email'|trans }}: {{ user.email }}</h3>
</div>
