{% extends "::base.html.twig" %}

{% block middle %}
    <div class="alert alert-success">
        <h2>Aktualizacja profilu przebiegła pomyślnie</h2>
    </div>
    <div class="hidden">{% include "FOSUserBundle:Profile:show_content.html.twig" %}</div> 
   <a class="btn btn-custom btn-block" href="/index">Powrót do strony głównej</a>
{% endblock middle %}