{% extends "::base.html.twig" %}

{% block middle %}
    <div class="alert alert-success">
        <h2>Profile updated</h2>
    </div>
   {% include "FOSUserBundle:Profile:show_content.html.twig" %} 
   <a class="btn btn-custom btn-block" href="/index">Return to homepage</a>
{% endblock middle %}