{% extends "::base_main.html.twig" %}

{% block title %}Let's do it{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="/main">JoinUs</a>
         </div>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
         </ul>
       </div>
    </nav>
{% endblock %} 

{% block jumbotron %}   
    <h1>Join Us</h1>
    <h3>Let's Do It Together</h3>
{% endblock %}

{% block middle %}                    
    {%for group in groups%}
        <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">{{group.name}}</div>
              <div class="panel-body">
                  {%if group.photo is not null%}
                      <img src="{{group.photo.path}}" width="300" height="200" alt="Image">
                  {% endif %}
              </div>
            </div>
        </div>
    {%endfor%}
{% endblock %} 

{% block right %} 
    
{% endblock %} 
