{% extends '::base.html.twig' %}

{% block top %}
    <h1 class="text-center">Update photo</h1>
{% endblock %}    

{% block middle -%}
    <div class="col-md-2"></div>
    <div class="col-md-8">
    {{ form_start(edit_form, {'attr':{'role':'form'}}) }}
        <div class="form-group">{{ form_widget(edit_form.path, {'attr':{'class':'form-control'}}) }}</div>
        <input class="btn btn-custom" type="submit" value="{{ 'Update'|trans }}" />

    {{ form_end(edit_form) }}  
    </div>
    <div class="col-md-2"></div>
{% endblock %}
