{% extends '::base.html.twig' %}

{% block top %}
    <h1 class="text-center">Dodaj zdjęcie</h1>
{% endblock %}  

{% block middle -%}
    <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form, {'attr':{'role':'form'}}) }}
            <div class="form-group">{{ form_widget(form.path, {'attr':{'class':'form-control'}}) }}</div>
            <input class="btn btn-custom" type="submit" value="{{ 'Dodaj'|trans }}" />
    
{{ form_end(form) }}   
    </div>
    <div class="col-md-2"></div>
    
{% endblock %}
