{% extends '::base.html.twig' %}

{% block middle -%}
    <h1>Add photo</h1>

    {{ form(form) }}

    <a class="btn btn-success btn-block" href="{{ path('photo') }}">
        Back to the list
    </a>
    
{% endblock %}
