{% extends '::base.html.twig' %}

{% block middle -%}
    <img src="{{ entity.path }}"/>

    <a class="btn btn-success btn-block" href="{{ path('photo') }}">
        Back to the list
    </a>
{% endblock %}
