{% extends '::base.html.twig' %}

{% block middle -%}
    <h1>Event creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="/event/{{entity.id}}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
