{% block middle %}
    
    <div class="form-group">{{ form(comment_form) }}</div>
    <div>
        <input class="btn btn-custom" type="submit" value="{{ 'Comment'|trans }}" />
    </div>
{% endblock %}
