{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'role': 'form'}}) }}
    <div class="form-group">{{ form_widget(form) }}</div>
    <div>
        <input class="btn btn-success" type="submit" value="{{ 'Register'|trans }}" />
    </div>
{{ form_end(form) }}
