{% extends "::base.html.twig" %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
       <div class="container-fluid">
         <div class="navbar-header">
           <a class="navbar-brand" href="/">MeetUs</a>
         </div>
         <ul class="nav navbar-nav navbar-right">
           <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Zaloguj się</a></li>
         </ul>
       </div>
    </nav>
{% endblock %}

{% block top %}
    <h2 class="text-center">Rejestracja</h2>
{% endblock %}    

{% block middle %}
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {% include "FOSUserBundle:Registration:register_content.html.twig" %}
    </div>
    <div class="col-md-2"></div>
{% endblock %}
