.container {
    background-color: white !important;
    opacity: 0.9 !important;
}

body {
    background-color: #e1dede !important;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    height: 500px;
    max-height: 600px;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.jumbotron {
    color: #222 !important;
    background-color: #e1dede !important;
    opacity: 0.8 !important;
}

.well {
    background-color: white !important;
}

#map {
     width: 750px;
     height: 400px;
}

.remove {
    color: #990404;
}

.accept {
    color: #138429;
}

