
.link {
    color: hsl(59, 100%, 53%) !important;
}

.link:hover {
    font-weight: bolder !important;
    text-decoration: none !important;
}

.accept {
    color: #138429;
}

body {
    background-image: url(/img/footer_lodyas.png) !important;
}

.btn {
    border-radius: 1px !important; 
} 

.btn-custom { background-color: rgba(0,0,0,0.8) !important;
              background-repeat: repeat-x;
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111", endColorstr="#111111");
              background-image: -khtml-gradient(linear, left top, left bottom, from(#111111), to(#111111));
              background-image: -moz-linear-gradient(top, #111111, #111111);
              background-image: -ms-linear-gradient(top, #111111, #111111);
              background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #111111), color-stop(100%, #111111));
              background-image: -webkit-linear-gradient(top, #111111, #111111);
              background-image: -o-linear-gradient(top, #111111, #111111);
              background-image: linear-gradient(#111111, #111111);
              border-color: #111111 #111111 hsl(175, 0%, 7%);
              color: rgb(100,100,100) !important;
              text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
             -webkit-font-smoothing: antialiased; }


.btn-custom:hover {
   color: #fff !important;
}

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    height: 500px;
    max-height: 600px;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

.container {
    background-color:rgba(0,0,0,0.3) !important;
    color: #dddddc !important;

}

.form-control {
  font-size: 14px;
  color: #555;
  background-color: rgba(0,0,0,0.3) !important;
  border: none !important;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px hsl(56, 100%, 41%) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px hsl(56, 100%, 41%) !important;
}

h1 {
    font-size: 3em !important;
}

img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
    color: #222 !important;
    background-color: #e1dede !important;
    opacity: 0.8 !important;
}

.list-group-item {
    background-color: rgba(0,0,0,0.3) !important;
    border-bottom: 1px rgba(0,0,0,1) !important; 
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #dddddc !important;
    text-align: center;
}

.list-group-item:hover {
    background-color: rgba(60,60,60,0.3) !important;
}

.list-group-item:first-child {
    border-top-left-radius: 1px !important;
    border-top-right-radius: 1px !important;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 1px !important;
    border-bottom-left-radius: 1px !important;
}

#map {
     width: 750px;
     height: 400px;
     margin-top: 1em;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.page-top {
    padding-top: 50px;
}

.remove {
    color: #990404;
}

.small {
    font-size: 0.6em !important;
    margin-bottom: 0px !important;
}

.table-hover > tbody > tr:hover {
    background-color: rgba(60,60,60,0.3) !important; 
}

.user-info {
    font-size: 2em;
    padding-left: 20px;
}

.well {
    background-color: rgba(0,0,0,0.3) !important;
    border: none !important;
}








