{% extends '::base.html.twig' %}

{% block middle -%}
    <h1>Crew creation</h1>

    {{ form_start(form) }}
   
    {{ form_widget(form.accepted, { "disabled":"disabled" }) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('crew') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
