{% extends '::base.html.twig' %}

{% block middle -%}
    <h1>Crew creation</h1>

    {{ form_start(form) }}
   
    {{ form_widget(form)}}
    {{ form_end(form) }}

    <a class="btn btn-success btn-block" href="{{ path('crew') }}">
        Back to the list
    </a>
</ul>
{% endblock %}
