{% extends "::base.html.twig" %}

{% block title %}Admin Panel{% endblock %}

{% block middle %}
    <h1>Now is accepted!</h1>
{% endblock %}
{% block right %}
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/panelAdmin/index">Homepage</a>
        <a class="btn btn-success" href="/panelAdmin/crews">All crews</a>
        <a class="btn btn-success" href="/panelAdmin/events">All events</a>
        <a class="btn btn-success" href="/panelAdmin/users">All users</a>
    </div>
{% endblock %}
