{% extends "::base.html.twig" %}

{% block title %}Admin panel{% endblock %}

{% block middle %}
<h1>User deleted</h1>
    <h3><a class="btn btn-success btn-block" href="/admin/users">Back</a></h3>
{% endblock %}
{% block right %}
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/index">User page</a>
        <a class="btn btn-success" href="/admin/index">Main</a>
        <a class="btn btn-success" href="/admin/crews">All groups</a>
        <a class="btn btn-success" href="/admin/events">All events</a>
        <a class="btn btn-success" href="/admin/users">All users</a>
    </div>
{% endblock %}
