{% extends "::base.html.twig" %}


{% block top %}
    <div class="col-md-2">
        <img src="{{asset('img/admin.png')}}" alt="Photo" width="200" height="200" class="left-block"/>
    </div>
    <div class="col-md-8">
        <br><br><br><br><br><br>
        <div class="user-info">
            <p>Panel administracyjny</p>            
            <div class="btn-group">     
                <a class="btn btn-custom" href="/index">Strona użytkownika</a>
                <a class="btn btn-custom" href="/admin/index">Index</a>
                <a class="btn btn-custom" href="/admin/crews">Zaakceptowane grupy</a>
                <a class="btn btn-custom" href="/admin/events">Zaakceptowane eventy</a>
                <a class="btn btn-custom" href="/admin/users">Wszyscy użytkownicy</a>
            </div>
        </div>     
    </div>
    
{% endblock %}

{% block middle %}
    <h3>Grupa usunięta</h3>
    <a class="btn btn-custom btn-block" href="/admin/crews">Powrót</a>
{% endblock %}

