{% extends "::base.html.twig" %}

{% block title %}All users{% endblock %}

{% block jumbotron %}
<h1>Welcome to the admin panel</h1>

{% endblock %}


{% block middle %}
    <h1>All users:</h1>
    <table class="table table-hover">
        <th class='text-center'>Username</th>
        <th class='text-center'>Email</th>
        <th class="text-center">Delete</th>


            {% for user in users %}
                {% if user.username != "Admin"%}
                <tr>
                    <td><a href="/user/{{user.id}}">{{user.username}}</a></td>
                    <td>{{user.email}}</td>
                    <td><a href="/admin/remove/{{user.id}}"><span class="glyphicon glyphicon-remove-sign remove"></span></a></td>
                </tr>
                {% endif %}
            {% endfor %}
    </table>
{% endblock %}
{% block right %}
    <div class="btn-group-vertical">
        <a class="btn btn-success" href="/index">User page</a>
        <a class="btn btn-success" href="/admin/index">Main</a>
        <a class="btn btn-success" href="/admin/crews">All active groups</a>
        <a class="btn btn-success" href="/admin/events">All active events</a>
        <a class="btn btn-success" href="/admin/users">All users</a>
    </div>
{% endblock %}
